<!DOCTYPE html>
<html>
<head>
  <title>Server Rendering Demo</title>
</head>
<body>
  <div id="container">
    <%- markup %>
  </div>
  <script src="//cdn.bootcss.com/react/0.14.6/react.js"></script>
  <script>
    var container = document.getElementById("container");
    var App = <%- component %>
    React.render(App(), container);
  </script>
</body>
</html>