<!DOCTYPE html>
<html>
<head>
  <title>Server Rendering Demo</title>
</head>
<body>
  <div id="container">
    <%- markup %>
  </div>
  <script type="text/javascript" src="http://localhost:6789/assets/bundle.js"></script>
</body>
</html>